<?xml version="1.0"?>

<!--
*****************************************************
** CAUCHO RESIN WEB-INF/web.xml CONFIGURATION FILE **
*****************************************************
$Id: web.xml,v 1.19 2003-08-17 13:45:11 shahid.shah Exp $
-->

<web-app>

    <!--
    *******************************************************************************************************************
    ** SERVLET CONTEXT LISTENERS CONFIGURATION (initialize and cleanup resources required by Sparx)                  **
    *******************************************************************************************************************
    -->
    <listener>
        <listener-class>com.netspective.sparx.util.ApplicationEventsListener</listener-class>
    </listener>

    <!--
    *******************************************************************************************************************
    ** APPLICATION FRONT-CONTROLLER CONFIGURATION                                                                    **
    ** ============================================================================================================= **
    ** 1) The SparxNavigationController servlet handles all the requests (it's the default servlet)                  **
    ** 2) Anything under the /sparx URL is assumed to be a Sparx resource or asset so it's forwarded to the normal   **
    **    app-server static file servlet.                                                                            **
    ** 3) Anything under the /resources URL is assumed to be an application resource or asset so it's also forwared  **
    **    to the normal app-server static file servlet.                                                              **
    ** ============================================================================================================= **
    ** NOTE: if you will be using the NavigationPage forward or include attributes (<page ... forward=''> or <page   **
    **       include=''>) then you will need to ensure that those pages get handled by the appropriate app server    **
    **       servlets so you may need additional servlet-mappings for the forwarded or included resources.           **
    *******************************************************************************************************************
    -->
	<servlet>
		<servlet-name>SparxNavigationController</servlet-name>
		<servlet-class>com.netspective.sparx.navigate.NavigationControllerServlet</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>AppServerStaticFileServlet</servlet-name>
        <servlet-class>com.caucho.server.http.FileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SparxNavigationController</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AppServerStaticFileServlet</servlet-name>
        <url-pattern>/sparx/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AppServerStaticFileServlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <!--
    *******************************************************************************************************************
    ** NETSPECTIVE APPLICATION ADMINISTRATION CONSOLE CONFIGURATION                                                  **
    ** ============================================================================================================= **
    ** If you wish to disable the Console completely, just remove the <servlet> and <servlet-mapping> configuration  **
    ** elements for the NetspectiveConsole servlet.                                                                  **
    *******************************************************************************************************************
    -->
	<servlet>
		<servlet-name>NetspectiveConsole</servlet-name>
		<servlet-class>com.netspective.sparx.console.ConsoleServlet</servlet-class>
        <init-param>
            <param-name>com.netspective.sparx.security.LOGIN_MANAGER_NAME</param-name>
            <param-value>console</param-value> <!-- the <login-manager> defined in the project that should be used -->
        </init-param>
        <init-param>
            <param-name>com.netspective.sparx.security.authenticator.SingleUserServletLoginAuthenticator.LOGIN_USER_ID</param-name>
            <param-value>console</param-value>
        </init-param>
        <init-param>
            <param-name>com.netspective.sparx.security.authenticator.SingleUserServletLoginAuthenticator.LOGIN_PASSWORD_PLAIN_TEXT</param-name> <!-- if you use this parameter then the encrypted one is not required -->
            <param-value>console</param-value>
        </init-param>
        <init-param>
            <param-name>com.netspective.sparx.security.authenticator.SingleUserServletLoginAuthenticator.LOGIN_PASSWORD_ENCRYPTED</param-name> <!-- if you provide an encrypted password, it takes precedence over unencrypted -->
            <param-value>NCbHq1WqkpfDY</param-value> <!-- run "java com.netspective.commons.security.Crypt NC <password>" to generate encrypted password -->
        </init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>NetspectiveConsole</servlet-name>
		<url-pattern>/console/*</url-pattern>
	</servlet-mapping>

    <!--
    *********************************************************************
    * Specify the default database connection - the default-data-source *
    * context-param's value is defined as a resource-ref in this        *
    * web.xml file (see below).                                         *
    *********************************************************************
    -->
	<context-param>
	  <param-name>com.netspective.sparx.DEFAULT_DATA_SOURCE</param-name>
	  <param-value>jdbc/default</param-value>
	</context-param>

	<resource-ref>
	  <res-ref-name>jdbc/default</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <init-param driver-name="org.hsqldb.jdbcDriver"/>
	  <init-param url="jdbc:hsqldb:${app.docDir}/WEB-INF/database/instance/db"/>
	  <init-param user="sa"/>
	  <init-param password=""/>
	  <init-param max-connections="20"/>
	  <init-param enable-transaction="false"/>
	</resource-ref>

</web-app>
