a:Visited     { color: #900; font-family: Tahoma; text-decoration: underline }
a:Link     { color: #900; font-family: Tahoma; text-decoration: underline }
a:active    { color: #900; font-family: Tahoma; text-decoration: underline }
a:Hover  { color: #900; font-family: Tahoma; text-decoration: none }
