body {
	background:white;
}
.tag{
    font-family: lucida console, courier;
	font-weight:bold;
	color:blue;
}
.endtag{
    font-family: lucida console, courier;
	color:blue;
}
.reference{
	color:black;
}
.name{
	font-weight:bold;
    font-family: lucida console, courier;
	color:maroon;
}
.value{
    font-family: lucida console, courier;
	color:green;
}
.text{
	font-weight:bold;
    font-family: lucida console, courier;
	color:black;
}
.reservedWord{
    font-family: lucida console, courier;
	color:blue;
}
.identifier{
    font-family: lucida console, courier;
	color:black;
}
.literal{
    font-family: lucida console, courier;
	color:maroon;
}
.separator{
    font-family: lucida console, courier;
	color:navy;
}
.operator{
    font-family: lucida console, courier;
    font-weight:bold;
    color:navy;
}
.comment{
    font-family: lucida console, courier;
	color:green;
}
.preprocessor{
    font-family: lucida console, courier;
	color:purple;
}
.whitespace{
    font-family: lucida console, courier;
}
.error{
    font-family: lucida console, courier;
	color:red;
}
.unknown{
    font-family: lucida console, courier;
	color:orange;
}

code
{
    font-family: lucida console, courier;
    font-size: 9pt;
}