/*
 * ================================================================
 * Style used by StandardDialogSkin (legacy, not properly cascaded)
 * ================================================================
 */

.dialog-button:link    { color: #333; font-size: 9px; font-family: Verdana; text-decoration: none; padding: 1px 3px; text-transform: uppercase; border: solid 1px #009; }
.dialog-button:visited { color: #333; font-size: 9px; font-family: Verdana; text-decoration: none;padding: 1px 3px; text-transform: uppercase; border: solid 1px #009; }
.dialog-button:active  { color: #333; font-size: 9px; font-family: Verdana; text-decoration: none;padding: 1px 3px; text-transform: uppercase; border: solid 1px #009; }
.dialog-button         { color: #333; font-size: 9px; font-family: Verdana; text-decoration: none; background-color: #dcdcdc; text-transform: uppercase; padding: 1px 3px; border: solid 1px #009;    }
.dialog-button:hover   { color: white; background-color: #009;}
.dialog-button-table   { font-size: 12px; text-align: left; padding: 7px 7px 7px 5px }

.dialog-fields           { color: #333; font-weight: normal; font-size: 12px; font-family: Tahoma; background: url(../images/panel/input/content-separator.gif) no-repeat right center; text-align: right; vertical-align: middle; padding: 7px 7px 7px 5px }
.dialog-fields-no-arrow  { color: #333; font-weight: normal; font-size: 12px; font-family: Tahoma; text-align: right; vertical-align: middle; padding: 7px 7px 7px 5px }
.dialog-entry            { color: #333; font-weight: normal; font-size: 12px; font-family: Tahoma; padding-right: 7px; padding-left: 7px; width: auto }
.dialog-fields-header    { color: #696969; font-variant: small-caps; font-weight: bold; font-size: 100%; font-family: "Trebuchet MS", Verdana; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 15px 4px 1px 10px; border-style: solid; border-width: 1px; border-color: #c0c0c0 #808080 #808080 #c0c0c0; width: auto }
.dialog-fields-separator { color: #696969; font-variant: small-caps; font-weight: bold; font-size: 100%; font-family: "Trebuchet MS", Verdana; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 5px 4px 1px 5px; border-style: solid; border-width: 1px; border-color: #c0c0c0 #808080 #808080 #c0c0c0; width: auto }
.dialog-fields-separator-link { color: #696969; font-variant: small-caps; font-weight: bold; font-size: 100%; font-family: "Trebuchet MS", Verdana; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 5px 4px 1px 5px; }
.dialog-fields-separator-link:hover   { color: #696969; font-variant: small-caps; font-weight: bold; font-size: 100%; font-family: "Trebuchet MS", Verdana; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 5px 4px 1px 5px; }


.dialog-input-required              { color: #000; font-family: Tahoma; background: white url(../images/panel/input/content-required.gif) no-repeat right top; padding-left: 3px; border: solid 1px #009; width: auto }
.dialog-input          { color: #000; font-family: Tahoma; padding-left: 3px; border: solid 1px #009; width: auto }
.dialog-input-readonly { background: #dcdcdc }
.dialog-select         { color: black; font-family: Tahoma; border: solid 1px #009 }

.dialog-fields-hint-table { padding-left: 7px; width: auto; height: 12px }
.dialog-fields-hint { color: #696969; font-size: 10px; font-family: Tahoma; background: url(../images/panel/input/hint-indicator.gif) no-repeat left top }
.dialog-fields-hint-hidden { display: none; color: #696969; font-size: 10px; font-family: Tahoma; background: url(../images/panel/input/hint-indicator.gif) no-repeat left top }

.dialog-fields-errors { color: red; font-size: 10px; font-family: Tahoma; }
.accesskey { text-decoration: underline;}


.login-dialog-fields            { color: white; font-weight: normal; font-size: 12px; font-family: Tahoma; background: url(../images/panel/input/content-separator.gif) no-repeat right center; text-align: right; vertical-align: middle; padding: 7px 7px 7px 5px }
.login-dialog-fields-header      { background: url(../images/login/nec.gif) no-repeat left center; width: 100% }
.login-dialog-button  { color: #333; font-size: 9px; font-family: Verdana; text-decoration: none; background-color: #dcdcdc; text-transform: uppercase; padding: 1px 3px; border: solid 1px black }

textarea {  font-size: 8pt; font-family: tahoma; overflow: auto}

/*
 * ==================================================
 * OLD STYLES: need to check if they are still needed
 * ==================================================
 */
.dialog-button:link    { color: #333; font: normal 10px Verdana; text-decoration: none; padding: 1px 3px; text-transform: uppercase; border: solid 1px #009; }
.dialog-button:visited { color: #333; font: normal 10px Verdana; text-decoration: none; padding: 1px 3px; text-transform: uppercase; border: solid 1px #009; }
.dialog-button:active  { color: #333; font: normal 10px Verdana; text-decoration: none; padding: 1px 3px; text-transform: uppercase; border: solid 1px #009; }
.dialog-button:hover   { color: white; background-color: #009;}

.accesskey { text-decoration: underline;}
.login-dialog-fields            { color: white; font-weight: normal; font-size: 12px; font-family: Tahoma; background: url(../images/panel/input/content-separator.gif) no-repeat right center; text-align: right; vertical-align: middle; padding: 7px 7px 7px 5px }
.login-dialog-fields-header     { background: url(../images/login/nec.gif) no-repeat left center; width: 100% }
.login-dialog-button            { color: #333; font-size: 9px; font-family: Verdana; text-decoration: none; background-color: #dcdcdc; text-transform: uppercase; padding: 1px 3px; border: solid 1px black }

/*
 * =======================================================
 * Styles used ModernDialogSkin (properly cascaded)
 * =======================================================
 */

table.dialog      { background-color: #F9F9F9; font: normal 8pt Tahoma, Arial, Sans Serif; padding: 5px }

/* field block styles */
table.dialog tr.dialog-field-block           { color: #333;    font: normal 8pt Tahoma, Arial, Sans Serif; text-align: left; vertical-align: middle; }
table.dialog tr.dialog-field-block td.dialog-field-caption           { padding: 3px 3px 3px 4px; width: auto; text-align: right; vertical-align: top; }
table.dialog tr.dialog-field-block td.dialog-field-caption-required  { padding: 3px 3px 3px 4px; width: auto; text-align: right }

table.dialog tr.dialog-field-block-errors    { color: #cc0000; font: normal 8pt Tahoma, Arial, Sans Serif; text-align: left; vertical-align: middle; }
table.dialog tr.dialog-field-block-errors td { padding: 3px 3px 3px 10px; }

/* these are the spans around the captions and inputs. The style settings should only enforce the font and text alignment with no block properties */
table.dialog label.dialog-field-caption           { color: #333;    font: normal 8pt Tahoma, Arial, Sans Serif; text-align: right; vertical-align: middle; background: url(../images/panel/input/content-separator.gif) no-repeat right center; padding-right: 7px; }
table.dialog label.dialog-field-caption-required  { color: #000000; font: bold   8pt Tahoma, Arial, Sans Serif; text-align: right; vertical-align: middle; background: url(../images/panel/input/content-separator.gif) no-repeat right center; padding-right: 7px; }
table.dialog label.dialog-field-caption-required:before  { content: '*'; color: red}
table.dialog span.dialog-field-hint              { color: #696969; font: 8pt Tahoma, Arial, Sans Serif; background: url(../images/panel/input/hint-indicator.gif) no-repeat left top }
table.dialog span.dialog-field-hint-hidden       { color: #696969; font: 8pt Tahoma, Arial, Sans Serif; background: url(../images/panel/input/hint-indicator.gif) no-repeat left top; display: none; }
table.dialog span.dialog-field-input             { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; width: auto; whitespace: nowrap }
table.dialog span.dialog-field-input-required    { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; width: auto; whitespace: nowrap }
table.dialog span.dialog-field-input-readonly    { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; width: auto; whitespace: nowrap; }

/* this is a general style for all inputs */
table.dialog input:focus { border: 2px solid #3d80df; background: #edf3fe}
table.dialog input       { font: normal 8pt Tahoma, Arial, Sans Serif }
table.dialog input.dialog-field-input-readonly    { background: #efefef }

table.dialog select                  { font: normal 8pt Tahoma, Arial, Sans Serif; }
table.dialog select:focus            { font: normal 8pt Tahoma, Arial, Sans Serif; border: 2px solid #3d80df}
table.dialog select option           { font: normal 8pt Tahoma, Arial, Sans Serif; }
table.dialog select option:selected  { font: normal 8pt Tahoma, Arial, Sans Serif; }

table.dialog legend { font: normal 9pt Tahoma, Arial, Sans Serif; padding: 0px 5px 0px 5px; }
table.dialog fieldset { margin-top: 5px; margin-bottom: 5px }
table.dialog fieldset.no-border { border: 0px }

table.dialog span.dialog-field-errors            { color: red; font-size: 10px; font-family: Tahoma; }
table.dialog span.dialog-field-errors a          { color: red; font-size: 10px; font-family: Tahoma; }
table.dialog span.dialog-field-errors a:link     { color: red; font-size: 10px; font-family: Tahoma; }
table.dialog span.dialog-field-errors a:hover    { color: red; font-size: 10px; font-family: Tahoma; }
table.dialog span.dialog-field-errors a:visited  { color: red; font-size: 10px; font-family: Tahoma; }

/* select field styles */
table.dialog span.dialog-field-input table.dialog-field-select-options    { width: auto; padding: 0px; border: 0px; margin: 0px}
table.dialog span.dialog-field-input table.dialog-field-select-options td { padding: 0px }
/* select field's checkbox's label styles */
table.dialog span.dialog-field-input table.dialog-field-select-options label           { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; width: auto }
table.dialog span.dialog-field-input-required table.dialog-field-select-options label  { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; width: auto }

/* separator field styles */
table.dialog tr.dialog-field-separator-block     { background-color: #f1eeee; text-align: left; vertical-align: bottom; }
table.dialog tr.dialog-field-separator-block td  { padding: 5px 4px 1px 5px; border-style: solid; border-width: 1px; border-color: #c0c0c0 #808080 #808080 #c0c0c0; width: auto}
table.dialog tr.dialog-field-separator-block td a         { color: #696969; font: bold small-caps 14px Verdana, serif; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 5px 4px 1px 5px; }
table.dialog tr.dialog-field-separator-block td a:link    { color: #696969; font: bold small-caps 14px Verdana, serif; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 5px 4px 1px 5px; }
table.dialog tr.dialog-field-separator-block td a:hover   { color: #696969; font: bold small-caps 14px Verdana, serif; background-color: #f1eeee; text-align: left; vertical-align: bottom; padding: 5px 4px 1px 5px; }

/* composite styles */
table.dialog table.dialog-field-composite-block  { }
table.dialog table.dialog-field-composite-block td.dialog-field-composite-item  { padding: 0px; margins: 0px; }

/* grid styles */
table.dialog span.dialog-field-grid-row-caption              { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; }
table.dialog span.dialog-field-grid-column-caption           { color: #000; font: normal 8pt Tahoma, Arial, Sans Serif; }
table.dialog span.dialog-field-grid-column-caption-required  { color: #000; font: bold   8pt Tahoma, Arial, Sans Serif; }


/* buttons styles */
table.dialog tr.dialog-buttons-block     { font: normal 10px georgia, normal; text-align: left; }
table.dialog tr.dialog-buttons-block td  { padding: 7px 7px 10px 5px }
table.dialog input.dialog-button         { color: #333; font: normal 10px Verdana; text-decoration: none; background-color: #dcdcdc; text-transform: uppercase; padding: 1px 3px; border: solid 1px #009;    }

/* section styles */
table.dialog table.dialog-section-field   { width: auto; padding: 0px; margin: 0px}

table.dialog table.dialog-field-select-multi-dual { font: normal 8pt Tahoma, Arial, Sans Serif; }
