a:Visited     { color: #483d8b; text-decoration: underline }
a:Link     { color: #483d8b; text-decoration: underline }
a:active    { color: #483d8b; text-decoration: underline }
a:Hover   { text-decoration: none }
