.panel-output     { background-color: #5a5ae6 }

.panel-output-frame-heading  { color: #fff; font-weight: bold; font-size: 10px; font-family: Tahoma; background: url(../images/panel/output/frame-heading.gif) no-repeat left top; text-transform: uppercase; padding: 1px 8px 3px }

.panel-output-frame-heading-action-left-blank  { background: url(../images/panel/output/frame-heading-action-left.gif) no-repeat; width: 17px; height: 19px }
.panel-output-frame-heading-action-right-blank  { background: url(../images/panel/output/frame-heading-action-right.gif) no-repeat; width: 17px; height: 19px }
.panel-output-frame-heading-action-collapse  { background: url(../images/panel/output/frame-heading-action-up.gif) no-repeat; width: 17px; height: 19px; cursor: hand; }
.panel-output-frame-heading-action-expand  { background: url(../images/panel/output/frame-heading-action-down.gif) no-repeat; width: 17px; height: 19px; cursor: hand; }
.panel-output-frame-heading-action-drag { background: url(../images/panel/output/frame-heading-action-drag.gif) no-repeat; width: 17px; height: 19px }
.panel-output-frame-action-search { background: url(../images/panel/output/frame-action-search.gif) no-repeat; width: 17px; height: 14px }
.panel-output-frame-action-add { background: url(../images/panel/output/frame-action-add.gif) no-repeat; border-top: 1px solid #999; border-left: 1px solid #999; width: 17px; height: 14px }
.panel-output-frame-action-item   { background: #5a5ae6 url(../images/panel/output/frame-action-add.gif) left bottom; border-top: 1px solid #999; border-left: 1px solid #999 }
.panel-output-frame-mid { background-image: url(../images/panel/output/mid.gif); width: 100%; height: 19px }
.panel-output-frame-end-cap { background: url(../images/panel/output/end-cap.gif) no-repeat left top; width: 2px; height: 19px }

.panel-output-frame-action        { color: #999; font-weight: normal; font-size: 9px; font-family: Tahoma; text-decoration: none; text-transform: uppercase; width: 100% }
.panel-output-frame-action-box    { background-color: #f1eeee; text-transform: uppercase; border-top: 1px solid #999; border-right: 1px solid #999 }
.panel-output-frame-action-box:hover  { background-color: #a9a9a9; text-transform: uppercase; padding-top: 1px; border-top: 1px solid #999; border-right: 1px solid #999 }
.panel-output-frame-action:link    { color: #999; font-weight: normal; font-size: 9px; font-family: Tahoma; text-decoration: none }
.panel-output-frame-action:visited    { color: #999; font-weight: normal; font-size: 9px; font-family: Tahoma; text-decoration: none }
.panel-output-frame-action:hover       { color: #5a5ae6; font-weight: normal; font-size: 9px; font-family: Tahoma; text-decoration: none }

.panel-output-banner    { color: #5a5ae6; font-weight: bold; font-size: 12px; font-family: Verdana; text-decoration: none; background-color: #e6e6fa; text-align: left; padding-top: 4px; padding-left: 3px; border-top: 1px solid #5a5ae6; border-right: 1px solid #5a5ae6; border-left: 1px solid #5a5ae6 }
.panel-output-banner-footer    { color: #5a5ae6; font-weight: bold; font-size: 10px; font-family: Verdana; text-decoration: none; background-color: #e6e6fa; text-align: left; padding-left: 3px; border-right: 1px solid #5a5ae6; border-bottom: 1px solid #5a5ae6; border-left: 1px solid #5a5ae6 }

.panel-output-content    { border: solid 1px #5a5ae6 }
.panel-output-content-no-frame {  }
.panel-output-frame-table-action  { background-color: white }

.panel-output-tree-collapse  { background: url(../images/panel/output/tree-collapse.gif) no-repeat; width: 10px; height: 18px; cursor: hand; }
.panel-output-tree-expand  { background: url(../images/panel/output/tree-expand.gif) no-repeat; 10px; height: 18px; cursor: hand; }
.panel-output-tree-leaf  { background: url(../images/panel/output/tree-leaf.gif) no-repeat; 10px; height: 18px; cursor: hand; }
