body {
	background:white;
}
.tag{
    font-family: lucida console, courier;
	color:navy; font-weight: bold;
}
.endtag{
    font-family: lucida console, courier;
	color:navy; font-weight: bold;
}
.reference{
	color:black;
}
.name{
    font-family: lucida console, courier;
	color:blue;
}
.value{
    font-family: lucida console, courier;
	color:green;
}
.text{
    font-family: lucida console, courier;
	color:black;
}
.reservedWord{
    font-family: lucida console, courier;
	color:blue;
}
.identifier{
    font-family: lucida console, courier;
	color:black;
}
.literal{
    font-family: lucida console, courier;
	color:maroon;
}
.separator{
    font-family: lucida console, courier;
	color:navy;
}
.operator{
    font-family: lucida console, courier;
    color:navy;
}
.comment{
    font-family: lucida console, courier;
    font-style: oblique;
	color:#999999;
}
.preprocessor{
    font-family: lucida console, courier;
	color:purple;
}
.whitespace{
    font-family: lucida console, courier;
}
.error{
    font-family: lucida console, courier;
	color:red;
}
.unknown{
    font-family: lucida console, courier;
	color:orange;
}

code
{
    font-family: lucida console, courier;
    font-size: 9pt;
}

table.view-xml-source { border: 1px solid #EEEEEE; }

table.view-xml-source tr { }

table.view-xml-source td { font-family: verdana, arial; font-size: 9pt; }
table.view-xml-source td.cmd-view { }
table.view-xml-source td.cmd-hide { border: 1px solid #DDDDDD; background-color: #EEEEEE;}
table.view-xml-source td.location { border-bottom: 1px solid #EEEEEE; color: #999999; }
table.view-xml-source td.content { font-size: 8pt; padding: 3px; }
table.view-xml-source td.content pre { font-size: 8pt; }
